.react-github-calendar .react-github-calendar__block--grade-0 {
  fill: #e6f3ff !important;
}
.react-github-calendar .react-github-calendar__block--grade-1 {
  fill: #a6c6ff !important;
}
.react-github-calendar .react-github-calendar__block--grade-2 {
  fill: #679aff !important;
}
.react-github-calendar .react-github-calendar__block--grade-3 {
  fill: #3366ff !important;
}
.react-github-calendar .react-github-calendar__block--grade-4 {
  fill: #0033cc !important;
}
